<h1>Listing app_routes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_routes.each do |app_route| %>
      <tr>
        <td><%= route_places_link(app_route) %></td>
        <td><%= link_to 'Show', app_route %></td>
        <td><%= link_to 'Edit', edit_app_route_path(app_route) %></td>
        <td><%= link_to 'Destroy', app_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_app_route_path %>
