
<h1>Listing admin_places</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Place name</th>
      <th>Badge image</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_places.each do |admin_place| %>
      <tr>
        <td><%= admin_place.country %></td>
        <td><%= admin_place.state %></td>
        <td><%= admin_place.city %></td>
        <td><%= admin_place.place_name %></td>
        <td><%= admin_place.badge_image %></td>
        <td><%= admin_place.latitude %></td>
        <td><%= admin_place.longitude %></td>
        <td><%= link_to 'Show', admin_place %></td>
        <td><%= link_to 'Edit', edit_admin_place_path(admin_place) %></td>
        <td><%= link_to 'Destroy', admin_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_admin_place_path %>
